---
import type { BaseHeadProps } from "@/types/types"

import Footer from "@/components/footer.astro"
import Head from "@/components/head.astro"
import Header from "@/components/header.astro"
import Theme from "@/components/theme.astro"

type Props = BaseHeadProps

const { title, description, articleDate, articleUpdatedDate, tags } =
  Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      articleDate={articleDate}
      articleUpdatedDate={articleUpdatedDate}
      tags={tags}
    />
    <Theme />
  </head>
  <body class="mx-auto flex min-h-screen flex-col items-center">
    <Header />
    <main class="w-full flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
